<h1>Sesi 1<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Integer" data-toc-modified-id="Integer-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><strong>Integer</strong></a></span></li><li><span><a href="#Floating-Point-Number" data-toc-modified-id="Floating-Point-Number-2"><span class="toc-item-num">2&nbsp;&nbsp;</span><strong>Floating-Point Number</strong></a></span></li><li><span><a href="#String" data-toc-modified-id="String-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>String</a></span></li><li><span><a href="#Boolean-Type,-Boolean-Context,-and-&quot;Truthiness&quot;" data-toc-modified-id="Boolean-Type,-Boolean-Context,-and-&quot;Truthiness&quot;-4"><span class="toc-item-num">4&nbsp;&nbsp;</span><strong>Boolean Type, Boolean Context, and "Truthiness</strong>"</a></span></li><li><span><a href="#Variable-Assigment" data-toc-modified-id="Variable-Assigment-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Variable Assigment</a></span></li><li><span><a href="#Variable-Types-in-Python" data-toc-modified-id="Variable-Types-in-Python-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Variable Types in Python</a></span></li><li><span><a href="#Variable-Names" data-toc-modified-id="Variable-Names-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Variable Names</a></span></li><li><span><a href="#Operators-and-Expressions-in-Python" data-toc-modified-id="Operators-and-Expressions-in-Python-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Operators and Expressions in Python</a></span></li><li><span><a href="#Arithmetic-Operatos" data-toc-modified-id="Arithmetic-Operatos-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Arithmetic Operatos</a></span></li><li><span><a href="#Comparison-Operators" data-toc-modified-id="Comparison-Operators-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Comparison Operators</a></span></li><li><span><a href="#String-Manipulation" data-toc-modified-id="String-Manipulation-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>String Manipulation</a></span></li><li><span><a href="#Python-Lists" data-toc-modified-id="Python-Lists-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Python Lists</a></span></li><li><span><a href="#Modifying-a-Single-List-Value" data-toc-modified-id="Modifying-a-Single-List-Value-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Modifying a Single List Value</a></span></li><li><span><a href="#Modifying-Multiple-List-Values" data-toc-modified-id="Modifying-Multiple-List-Values-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Modifying Multiple List Values</a></span></li><li><span><a href="#Python-Tuples" data-toc-modified-id="Python-Tuples-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Python Tuples</a></span></li><li><span><a href="#Python-Dictionary-=-Defining-a-Dictionary" data-toc-modified-id="Python-Dictionary-=-Defining-a-Dictionary-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Python Dictionary = Defining a Dictionary</a></span></li><li><span><a href="#Building-a-Dictionary-Incrementally" data-toc-modified-id="Building-a-Dictionary-Incrementally-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>Building a Dictionary Incrementally</a></span></li><li><span><a href="#Line-Continuation" data-toc-modified-id="Line-Continuation-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>Line Continuation</a></span></li></ul></div>

# __Integer__

In [3]:
print(1231231232311111111111111141)

1231231232311111111111111141

In [2]:
#Python interprets a sequence of decimal digits without any perfix to be a decimal number
print(10)
print(type(10))

10
<class 'int'>

# __Floating-Point Number__

In [3]:
print(4.2)
print(type(4.2))
print(4.)

4.2
<class 'float'>
4.0

# String

In [4]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [5]:
#String juga dapat berisi kosong
print("")

# __Boolean Type, Boolean Context, and "Truthiness__"

In [7]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Variable Assigment

In [8]:
n=300

300

In [10]:
print(n)
n

300

300

In [11]:
#Later, if you change the value of n and use it again, the new values will be substituted instead:
n=1000
print(n)
n

1000

1000

In [12]:
#Memungkinkan chained assigment, yang memungkinkan menetapkan nilai yang sama ke beberapa variabel secara bersamaan
a=b=c=300
print(a,b,c)

300 300 300

# Variable Types in Python

In [13]:
#Variabel python dapat diberi value dari satu jenis dan kemudian diberi value dari jenis yang berbeda
var=23.5
print(var)

var="Now I'am a String"
print(var)

23.5
Now I'am a String

# Variable Names

In [15]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [16]:
#Perhatikan bahwa case disini sangat berperan. 
#Huruf besar dan kecil tidak sama, penggunaan karakter garis bawah penting
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_=7
_AGE_=8

print(age,Age,aGe,AGE,a_g_e,_age,age_, _AGE_)

1 2 3 4 5 6 7 8

# Operators and Expressions in Python

In [17]:
a = 10
b = 20
a+b

30

In [18]:
a = 10
b = 20
a+b-5

25

# Arithmetic Operatos

In [19]:
a = 4
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [20]:
10/5

2.0

# Comparison Operators

In [1]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
True
False

In [2]:
a = 20
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

True
False
True
True

# String Manipulation

In [3]:
# + Operators
s = "foo"
t = "bar"
u = "baz"

print(s+t)
print(s+t+u)
print("Hacktiv8" + "PTP")

foobar
foobarbaz
Hacktiv8PTP

In [5]:
# * Operator
s ="foo-"
s*4

'foo-foo-foo-foo-'

In [6]:
# in Opeators
s = "foo"
print( s in "That food for us")
print( s in "That good for us")

True
False

In [7]:
#Case connversion
s = "HackTIV8"

print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

# Python Lists
list adalah kumpulan objek yang arbitrary, aga mirip dengan array tapi lebih fleksibel. List didefinisikan dalam python dengan menyertakan squence object yang dipisahkan koma dalam tanda kurung siku([])

In [8]:
a = ["foo","bar","baz","qux"]
print(a)

['foo', 'bar', 'baz', 'qux']

Lists Can Contain Arbitrary Objects

In [9]:
a = [21.42, "foorbar", 3,4, "bark", False, 3.14159]
print(a)

[21.42, 'foorbar', 3, 4, 'bark', False, 3.14159]

List Elements Can Be Accessed by Index

In [10]:
a = ["foo","bar","baz","qux","quux","corge"]
print(a[0])
print(a[5])

foo
corge

In [11]:
print(a[-1])
print(a[-5])

corge
bar

In [12]:
#The Concatenation (+) adn Replication (*) operators :
print(a)
print(a+["grault","graply"])
print(a*2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'graply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [13]:
#len(), mix(), max()
print(a)
print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

# Modifying a Single List Value
Satu nilai dalam list dapat diganti dengan pengindeksan dan assignment sederhana

In [14]:
a = ["foo","bar","baz","qux","quux","corge"]

print(a)
a[2] = 10
a[-1]= 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [15]:
#A list item can be deleted with the del command
del a[3]

In [16]:
print(a)

['foo', 'bar', 10, 'quux', 20]

# Modifying Multiple List Values
Jika kalian ingin mengubah beberapa elemen yang bersebelahan dari list. Python memungkinkan hal ini dengan slice

In [18]:
a = ["foo","bar","baz","qux","quux","corge"]
print(a[1:4])
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Python Tuples
Tuples adalah tipe lain dari kumpulan objek beruntun.
Tuples didefinisikan dengan mengapit elemen dalam tanda kurung().
Tuples tidak bisa diubah

In [19]:
t = ("foo","bar","baz","qux","quux","corge")
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [20]:
print(t[0])
print(t[-1])

foo
corge

In [21]:
#Packing and unpacking
(s1, s2, s3, s4) = ("foo","bar","baz","qux")
s1

'foo'

# Python Dictionary = Defining a Dictionary
Dictionary adalah implementasi python dari struktur data (Associative array)
Dictionary terdiir dari key-value pairs. setiap key value pairs memetakan key ke value terkait.

In [22]:
MLB_team = {
    "Colorado" : "Rockies",
    "Boston" : "Red Sox",
    "Minnesota" : "Twins",
    "Milwaukee" : "Brewers",
    "Seattle" : "Marianers"
}

In [24]:
print(MLB_team["Minnesota"])
print(MLB_team["Colorado"])

#eror
#MLB_team["Toronto"]

Twins
Rockies

In [25]:
#Adding an entry to an existing dictionary is simply a matter assigning a new and value:
MLB_team["Kansas City"] = "Royals"
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Marianers',
 'Kansas City': 'Royals'}

In [26]:
#If you want to update an entry, you can just assign a new balue to an existing key:
MLB_team["Seattle"] = "Seahawks"
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [27]:
#To delete an entry, use the del statement, specifying the key to delete:
del MLB_team["Seattle"]
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

# Building a Dictionary Incrementally
Ketika ingin membuat dictionary sambil jalan. Kita bisa memulai dengan membuat dictionary kosong, yang ditentukan dengan tanda kurung kurawal ksong. kemudian menambahkan kunci dan nilai baru satu persatuu

In [28]:
person = {}
type(person)

person["fname"] = "Hack"
person["lname"] = "PTP"
person["age"]=51
person["spouse"]="Edna"
person["children"]= ["Ralph","Betty","Joey"]
person["pets"]={"dog":"fido", "cat":"sox"}

In [29]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'fido', 'cat': 'sox'}}

In [31]:
print(person["fname"])
print(person["lname"])

Hack
PTP

In [32]:
print(person["children"])
print(person["children"][1])

['Ralph', 'Betty', 'Joey']
Betty

In [33]:
print(person["pets"])
print(person["pets"]["cat"])

{'dog': 'fido', 'cat': 'sox'}
sox

In [35]:
#Built-in methods
d={"a":10, "b":20, "c":30}

print(d.items())
print(d.keys())
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

# Line Continuation
Misal memiliki assignment statement dengan banyak terms

In [37]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (
    (person1_age >= 18 and person1_age<=65)
    or (person2_age >= 18 and person2_age <=65)
    or (person3_age >= 18 and person3_ager <=65)
)
someone_is_of_working_age

True