<h1>Sesi 2<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction-to-the-if-Statement" data-toc-modified-id="Introduction-to-the-if-Statement-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction to the if Statement</a></span></li><li><span><a href="#Grouping-Statements:-Indentation-and-Blocks" data-toc-modified-id="Grouping-Statements:-Indentation-and-Blocks-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Grouping Statements: Indentation and Blocks</a></span></li><li><span><a href="#The-else-and-elif-Clauses" data-toc-modified-id="The-else-and-elif-Clauses-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>The else and elif Clauses</a></span></li><li><span><a href="#One-Line-if-Statements" data-toc-modified-id="One-Line-if-Statements-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>One-Line if Statements</a></span></li><li><span><a href="#Multiple-statements" data-toc-modified-id="Multiple-statements-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Multiple statements</a></span></li><li><span><a href="#Conditional-Expressions" data-toc-modified-id="Conditional-Expressions-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Conditional Expressions</a></span></li><li><span><a href="#The-Python-pass-Statement" data-toc-modified-id="The-Python-pass-Statement-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>The Python pass Statement</a></span></li><li><span><a href="#Python-While-Loops" data-toc-modified-id="Python-While-Loops-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Python While Loops</a></span></li><li><span><a href="#The-Python-break-Statements" data-toc-modified-id="The-Python-break-Statements-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>The Python break Statements</a></span></li><li><span><a href="#The-Python-Continue-Statement" data-toc-modified-id="The-Python-Continue-Statement-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>The Python Continue Statement</a></span></li><li><span><a href="#The-Else-Clause-while" data-toc-modified-id="The-Else-Clause-while-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>The Else Clause while</a></span></li><li><span><a href="#Infinite-Loops." data-toc-modified-id="Infinite-Loops.-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Infinite Loops.</a></span></li><li><span><a href="#Nested-while-loops" data-toc-modified-id="Nested-while-loops-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Nested while loops</a></span></li><li><span><a href="#One-Line-while-loops" data-toc-modified-id="One-Line-while-loops-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>One Line while loops</a></span></li><li><span><a href="#The-Python-for-loop" data-toc-modified-id="The-Python-for-loop-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>The Python for loop</a></span></li><li><span><a href="#The-range()-Function" data-toc-modified-id="The-range()-Function-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>The range() Function</a></span></li><li><span><a href="#The-break-and-continue-Statements" data-toc-modified-id="The-break-and-continue-Statements-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>The break and continue Statements</a></span></li><li><span><a href="#The-else-clause-for" data-toc-modified-id="The-else-clause-for-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>The else clause for</a></span></li><li><span><a href="#Contoh-Penggunaan" data-toc-modified-id="Contoh-Penggunaan-19"><span class="toc-item-num">19&nbsp;&nbsp;</span>Contoh Penggunaan</a></span></li></ul></div>

# Introduction to the if Statement

In [1]:
x = 0
y = 5

if x < y: 
    print('yes')
if y < x:
    print('yes')
if x:
    print('yes')
if y:
    print('yes')
if 'aul' in 'grault':
    print('yes')
if 'quux' in ['foo','bar','baz']:
    print('yes')

yes
yes
yes

# Grouping Statements: Indentation and Blocks

In [7]:
# Grouping Statements: Indentation and Blocks
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done')
print('After conditional')

After conditional

In [8]:
# Berikut ini skrip yang lebih rumit:
# Does line execute?                        Yes    No
#                                           ---    --
if 'foo' in ['foo', 'bar', 'baz']:        #  x
    print('Outer condition is true')      #  x

    if 10 > 20:                           #  x
        print('Inner condition 1')        #        x

    print('Between inner conditions')     #  x

    if 10 < 20:                           #  x
        print('Inner condition 2')        #  x

    print('End of outer condition')       #  x
print('After outer condition')            #  x

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

# The else and elif Clauses

In [9]:
#Contoh1
x = 120
if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [6]:
x = 20
if x <50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [10]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000
if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [11]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [12]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [14]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
#elif var:
#    print("This won't either")

foo

# One-Line if Statements

In [16]:
if 'f' in 'foo': print('1'); print('2'); print('3')

if 'z' in 'foo': print('11'); print('22'); print('33') #Tidak akan keluar hasilnya

1
2
3

# Multiple statements

In [17]:
# Contoh 1
x = 2
if x == 1: 
    print('foo'); 
    print('bar'); 
    print('baz')
elif x == 2: 
    print('qux'); 
    print('quux')
else: 
    print('corge'); 
    print('grault')

qux
quux

In [18]:
#Contoh 2
x = 3
if x == 1: 
    print('foo'); 
    print('bar'); 
    print('baz')
elif x == 2: 
    print('qux'); 
    print('quux')
else: 
    print('corge'); 
    print('grault')

corge
grault

# Conditional Expressions

In [19]:
#Contoh1
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [20]:
#Contoh2
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [21]:
#Contoh3
age = 12
s = 'teen' if age < 21 else 'adult'

In [22]:
#Contoh4
print('yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no')

no

# The Python pass Statement

In [23]:
if True:
    pass
print('foo')

foo

# Python While Loops

In [24]:
#Contoh1
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [25]:
#Contoh2
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# The Python break Statements

In [27]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

# The Python Continue Statement

In [28]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

# The Else Clause while

In [29]:
# Contoh1
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [30]:
# Contoh2
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

# Infinite Loops.

In [31]:
#while True:
#    print('foo')

# Nested while loops

In [32]:
age = 20
gender = 'M'
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

father

In [33]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

# One Line while loops

In [34]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

# The Python for loop

In [35]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [36]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)
for k in d:
    print(d[k])
for k in d.values():
    print(k)
for k, v in d.items(): 
    print(k, ":", v)

foo
bar
baz
1
2
3
1
2
3
foo : 1
bar : 2
baz : 3

# The range() Function

In [37]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

# The break and continue Statements

In [40]:
#Break
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [41]:
#Continue
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

# The else clause for

In [42]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')  # Will execute

foo
bar
baz
qux
Done.

In [44]:
# Klausa else tidak akan dijalankan jika list berhenti dengan pernyataan break:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')  # Will not execute

foo

# Contoh Penggunaan

In [46]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 45C
Temperaturnya adalah 113 derajat

In [47]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: M
m
Ketikan karakter: L
l
Ketikan karakter: STOP
stop